# Introduction to Machine Learning

In [1]:
# Process ===> Data Preparation ===> ML Model ===> Performance Evaluation

## (1). Data Preparation

In [2]:
# Data ====> Independet data (x) + Dependent Data (y)

#x ====> x_train, x_test

# y ===> y_train, y_test

# Data Prepare ===> ml model ====> perofrmance evaluation

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\HP\\regex2\\Machine_Learning\\Assignment_2\\placement.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
df.shape

(100, 3)

In [6]:
x = df.drop(columns = ['placed'], axis = 1) ### Independent columns 
y = df['placed'] #####Target column

In [7]:
print(x.shape)
print(y.shape)

(100, 2)
(100,)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [10]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(80, 2)
(20, 2)
(80,)
(20,)

In [11]:
# Standardization ====> Data Mean = 0, Stadard deviation = 1

In [12]:
np.round(x_train.describe(), 3)

         cgpa  resume_score
count  80.000        80.000
mean    6.950         6.999
std     1.126         1.011
min     5.270         4.950
25%     5.998         6.280
50%     6.620         7.155
75%     8.062         7.692
max     9.310         9.060

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [14]:
x_train_sc = sc.fit_transform(x_train) #### fit means Learn the parameters and transfrom means apply changes on datas
x_train_new = pd.DataFrame (x_train_sc, columns = x_train.columns)
x_train_new.head(3)

       cgpa  resume_score
0 -0.008602     -0.128926
1  1.001293     -0.925381
2 -0.607389     -0.527154

In [15]:
np.round(x_train_new.describe(), 1)

       cgpa  resume_score
count  80.0          80.0
mean   -0.0          -0.0
std     1.0           1.0
min    -1.5          -2.0
25%    -0.9          -0.7
50%    -0.3           0.2
75%     1.0           0.7
max     2.1           2.1

In [16]:
df = pd.read_csv("C:\\Users\\HP\\regex2\\Machine_Learning\\Assignment_2\\insurance.csv")

In [17]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [18]:
df = df.drop(columns = ['sex', 'smoker', 'region'])

In [19]:
df.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [20]:
x= df.drop(columns = ['charges'], axis = 1) #### Independent data 
y= df['charges'] #### Target data

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)
print(df.shape)
print(x.shape)
print(x_train.shape)
print(x_test.shape)
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(1338, 4)
(1338, 3)
(1070, 3)
(268, 3)
(1338,)
(1070,)
(268,)

In [23]:
np.round(x_train.describe(),1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean     39.4    30.6       1.1
std      14.1     6.0       1.2
min      18.0    16.0       0.0
25%      27.0    26.2       0.0
50%      39.5    30.2       1.0
75%      51.0    34.5       2.0
max      64.0    53.1       5.0

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc = StandardScaler()

In [26]:
x_train_sc = sc.fit_transform(x_train)

In [27]:
np.round(x_train.describe(),1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean     39.4    30.6       1.1
std      14.1     6.0       1.2
min      18.0    16.0       0.0
25%      27.0    26.2       0.0
50%      39.5    30.2       1.0
75%      51.0    34.5       2.0
max      64.0    53.1       5.0

In [28]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)

# Normalization = min = 0, max = 1

In [29]:
from sklearn.preprocessing import MinMaxScaler
mn = MinMaxScaler()
x_train_mn = mn.fit_transform(x_train)
x_train_new = pd. DataFrame(x_train_mn, columns = x_train.columns)
np.round(x_train.describe(), 1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean     39.4    30.6       1.1
std      14.1     6.0       1.2
min      18.0    16.0       0.0
25%      27.0    26.2       0.0
50%      39.5    30.2       1.0
75%      51.0    34.5       2.0
max      64.0    53.1       5.0

In [30]:
np.round(x_train_new.describe(), 1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean      0.5     0.4       0.2
std       0.3     0.2       0.2
min       0.0     0.0       0.0
25%       0.2     0.3       0.0
50%       0.5     0.4       0.2
75%       0.7     0.5       0.4
max       1.0     1.0       1.0